<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		.login-form-container{
			background-color: white;
			padding-top: 3rem;
			padding: 1.5rem;
			border-radius: 0.25rem;
		}
		.login-container{
			width: 470px;
			max-width: 100%;
			margin-left: 1rem;
			margin-right: 1rem;
			align-items: center;
		}
		div{
			display: block;
		}
	</style>
</head>
<body style="background-color:#0275bb">
	<br><br>
	<br><br>
	<div style="align-items: center; padding-left: 400px">
	<div class="login-container">
		<div class="login-form-container">
            <a href="/insert_form">Create Record</a>
            <a href="/update_form">Update Record</a>
            <a href="/delete_form">Delete Record</a>
		</div>
	</div>
	</div>
</body>
</html>